<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <a href="/employee">Employee</a> <a href="/job-no-one/1">Job</a>
    <table>
      <tr>
        <th>ID</th>
        <th>JobName</th>
      </tr>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.job_name %></td>
      </tr>
    </table>
  </body>
</html>
