<style>
  .myForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
<form method="POST" action="/login">
  <div class="myForm">
    Username:
    <input type="text" id="username" name="username" />
    Password:
    <input type="password" id="password" name="password" />
  </div>

  <input type="submit" value="Login" />
</form>
